.profile__edit-button {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-top: 37px;
    display: flex;
    justify-content: flex-end;
    z-index: 0;
    position: relative;
    background-image: url(../../../images/Edit-Button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1100px) {
    .profile__edit-button {
        margin-left: 10px;
        margin-top: 8px;
    }
}