.header__logo {
    width: 142px;
    height: 33px;
    margin: 0;
    padding: 0;
    padding-bottom: 41px;
}

@media screen and (max-width: 1100px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding-bottom: 31.6px;
    }
}