.page {
    max-width: 1280px;
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', sans-serif;
    height: 100%;
    background-color: #000000;
}