.popup__input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 358px;
    width: 100%;
    border: 0;
}

@media screen and (max-width: 1100px) {
    .popup__input-container {
        width: 238px;
    }
}