.popup__form {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    max-height: 330px;
    border-radius: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 680px) {
    .popup__form {
        width: 282px;
    }
}