.popup__image-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0 auto;
    background-color: #000;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    opacity: 0.9;
}