.elements {
    max-width: 880px;
    display: grid;
    column-gap: 17px;
    row-gap: 20px;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    margin-left: 200px;
    justify-items: center;
}

@media screen and (max-width: 680px) {
    .elements {
        column-gap: 17px;
        max-width: 680px;
        margin-left: 19px;
    }
}