.popup__image {
    max-height: 75vh;
    width: 75vw;
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 0;
    cursor: pointer;
    z-index: 1;
}

@media screen and (max-width: 1100px) {
    .popup__image {
        margin-top: 16px;
    }
}