.popup__form-item {
    display: block;
    max-width: 358px;
    border: 0;
    border-bottom: solid 1px rgba(84, 84, 84, 0.2);
    height: 27px;
    font-size: 14px;
    line-height: 16.94px;
    color: #000000;
    text-align: left;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
}

.popup__form-item:last-of-type {
    margin-bottom: 0px;
}