.profile__avatar {
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 1100px) {
    .profile__avatar {
        justify-content: center;
        margin-bottom: 26px;
    }
}