.profile__info {
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width: 680px) {
    .profile__info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}