.elements__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    max-width: 282px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}